<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>

<%# 国家 %>
<div class="worlds">
  <%# ユナイテッドサンクチュアリのクランページに遷移 %>
  <div class="world">
    ユナイテッドサンクチュアリ
  </div>
  <%# ドラゴンエンパイアのクランページに遷移 %>
  <div class="world">
    ドラゴンエンパイア
  </div>
  <%# ズーのクランページに遷移 %>
  <div class="world">
    ズー
  </div>
  <%# スターゲートのクランページに遷移 %>
  <div class="world">
    スターゲート
  </div>
  <%# ダークゾーンのクランページに遷移 %>
  <div class="world">
    ダークゾーン
  </div>
  <%# メガラニカのクランページに遷移 %>
  <div class="world">
    メガラニカ
  </div>
</div>