<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>

<%# 国家 %>
<div class="worlds">
  <%# ユナイテッドサンクチュアリのデッキページに遷移 %>
  <div class="world">
    ユナイテッドサンクチュアリ
  </div>
  <%# ドラゴンエンパイアのデッキページに遷移 %>
  <div class="world">
    ドラゴンエンパイア
  </div>
  <%# ストケイアのデッキページに遷移 %>
  <div class="world">
    ストケイア
  </div>
  <%# ブラントゲートのデッキページに遷移 %>
  <div class="world">
    ブラントゲート
  </div>
  <%# ダークステイツのデッキページに遷移 %>
  <div class="world">
    ダークステイツ
  </div>
</div>