<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>

<%# 国家 %>
<div class="worlds">
  <%# ケテルサンクチュアリのデッキ作成ページに遷移 %>
  <div class="world">
    ケテルサンクチュアリ
  </div>
  <%# ドラゴンエンパイアのデッキ作成ページに遷移 %>
  <div class="world">
    ドラゴンエンパイア
  </div>
  <%# ストケイアのデッキ作成ページに遷移 %>
  <div class="world">
    ストケイア
  </div>
  <%# ブラントゲートのデッキ作成ページに遷移 %>
  <div class="world">
    ブラントゲート
  </div>
  <%# ダークステイツのデッキ作成ページに遷移 %>
  <div class="world">
    ダークステイツ
  </div>
</div>