<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>

<%# 国家 %>
<div class="worlds">
  <%# 国家名にカーソルを合わせたらクラン名を表示してクリックしたクランのデッキ作成ページに遷移 %>
  <div class="world">
    ユナイテッドサンクチュアリ
    ・ロイヤルパラディン
    ・シャドウパラディン
    ・オラクルシンクタンク
    ・ジェネシス
    ・エンジェルフェザー
  </div>
  <%# 国家名にカーソルを合わせたらクラン名を表示してクリックしたクランのデッキ作成ページに遷移 %>
  <div class="world">
    ドラゴンエンパイア
    ・かげろう
    ・なるかみ
    ・たちかぜ
    ・むらくも
    ・ぬばたま
  </div>
  <%# 国家名にカーソルを合わせたらクラン名を表示してクリックしたクランのデッキ作成ページに遷移 %>
  <div class="world">
    ズー
    ・グレートネイチャー
    ・メガコロニー
    ・ネオネクタール
  </div>
  <%# 国家名にカーソルを合わせたらクラン名を表示してクリックしたクランのデッキ作成ページに遷移 %>
  <div class="world">
    スターゲート
    ・ノヴァグラップラー
    ・ディメンジョンポリス
    ・リンクジョーカー
  </div>
  <%# 国家名にカーソルを合わせたらクラン名を表示してクリックしたクランのデッキ作成ページに遷移 %>
  <div class="world">
    ダークゾーン
    ・ダークイレギュラーズ
    ・ペイルムーン
    ・スパイクブラザーズ
    ・ギアクロニクル
  </div>
  <%# 国家名にカーソルを合わせたらクラン名を表示してクリックしたクランのデッキ作成ページに遷移 %>
  <div class="world">
    メガラニカ
    ・アクアフォース
    ・グランブルー
    ・バミューダ△
  </div>
</div>