<%# タイトルをクリックするとトップページに戻る %>
<div class="deck-header">
  <div class="left-header">
    デッキレシピ
  </div>
  <div class="right-header">
    新規作成
  </div>
</div>

<%# デッキ一覧を表示をeachで表示、詳細を選択でデッキ一覧を表示、編集と削除%>
<div class="decks">
  <div class="deck">
    ストライク・アポロ合体デッキ
  </div>
</div>