<%# タイトルをクリックするとトップページに戻る %>
<div class="deck-header">
  <div class="left-header">
    デッキレシピ
  </div>
  <div class="right-header">
    <%= link_to "新規作成", new_battlespirit_red_path(battlespirit_id: 1) %>
  </div>
</div>

<%# デッキ一覧を表示をeachで表示、詳細を選択でデッキ一覧を表示、編集と削除%>
<div class="deckes">
  <div class="deck">
    ストライク・アポロ合体デッキ
  </div>
</div>