<%# タイトルをクリックするとトップページに戻る %>
<div class="deck-header">
  <div class="left-header">
    デッキレシピ
  </div>
  <div class="right-header">
    赤
  </div>
</div>

<%# デッキ作成  cardを縦横2列にし「カード名：3枚」の形で保存、枚数はActiveHashで表記%>
<div class="deckes">
  <%#= form_with model: [], class: 'form', local: true do |f| %>
    <%# カテゴリの横にカード名を入力 %>
    <div class="deck">
      <div class="category">
        アルティメット  
      </div>
      <div class="cards">
        <div class="card">
          アルティメット・ジークフリード:  3枚
          <%#= f.text_field :ultimate1, class: 'form-detail', placeholder: 'アルティメット' %>
        </div>
        <div class="card">
          アルティメット・ジークフリーデン:  3枚
        </div>
      </div>
      <div class="cards">
        <div class="card">
          アルティメット・ジークヴルム・ノヴァ:  3枚
        </div>
        <div class="card">
          アルティメット・ジークヴルム・ノヴァ:  3枚
        </div>
      </div>
    </div>

    <div class="deck">
      <div class="category">
        スピリット
        <%#= f.text_field :spirit1, class: 'form-detail', placeholder: 'スピリット' %>
      </div>
      <div class="cards">
        <div class="card">
          ゴラドン:  3枚
        </div>
        <div class="card">
          ゴラドン:  3枚
        </div>
      </div>
      <div class="cards">
        <div class="card">
          ゴラドン:  3枚
        </div>
        <div class="card">
          ゴラドン:  3枚
        </div>
      </div>
    </div>

    <div class="deck">
      <div class="category">
        ブレイブ
      <%#= f.text_field :brave1, class: 'form-detail', placeholder: 'ブレイブ' %>
      </div>
      <div class="cards">
        <div class="card">
          フェニック・キャノン:  3枚
        </div>
        <div class="card">
          フェニック・キャノン:  3枚
        </div>
      </div>
      <div class="cards">
        <div class="card">
          フェニック・キャノン:  3枚
        </div>
        <div class="card">
          フェニック・キャノン:  3枚
        </div>
      </div>
    </div>

    <div class="deck">
      <div class="category">
        マジック
      <%#= f.text_field :magic1, class: 'form-detail', placeholder: 'マジック' %>
      </div>
      <div class="cards">
        <div class="card">
          ダブルドロー:  3枚
        </div>
        <div class="card">
          ダブルドロー:  3枚
        </div>
      </div>
      <div class="cards">
        <div class="card">
          ダブルドロー:  3枚
        </div>
        <div class="card">
          ダブルドロー:  3枚
        </div>
      </div>
    </div>

    <div class="deck">
      <div class="category">
        ネクサス
        <%#= f.text_field :nexus1, class: 'form-detail', placeholder: 'ネクサス' %>
      </div>
      <div class="cards">
        <div class="card">
          光の聖剣:  3枚
        </div>
        <div class="card">
          光の聖剣:  3枚
        </div>
      </div>
      <div class="cards">
        <div class="card">
          光の聖剣:  3枚
        </div>
        <div class="card">
          光の聖剣:  3枚
        </div>
      </div>
    </div>

    <div class="total">
      合計: 40枚
    </div>

    <div class="post-btn-contents">
      <div class="form-submit">
        保存
        <%#= f.submit '保存', class: 'form-submit' %>
      </div>
      <div class="back-btn">
        戻る
        <%#=link_to 'もどる', battlespirits_red_path, class:"back-btn" %>
      </div>
    </div>
  <%# end %>
</div>