<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>

<%# カードゲーム選択 %>
<div class="main">
  <%# ヴァンガード %>
  <div class="game">
    <%# ヴァンガードのルール選択ページに遷移(vanguardフォルダのindex.html.erbへ)%>
    Vanguard
  </div>
  <%# バトスピ %>
  <div class="game">
    <%# バトスピの色選択ページに遷移 %>
    Battle Spirits
  </div>
</div>