<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  <div class="left-header">
    デッキレシピ
  </div>
  <%# 新規作成ページに遷移 %>
  <div class="right-header">
    新規作成
  </div>
</div>

<%# かげろうのデッキ一覧をeachで表示、詳細を選択でデッキ一覧を表示、編集と削除 %>
<div class="decks">
  <div class="deck">
    オーバーロード
  </div>
</div>