<%# タイトルをクリックするとトップページに戻る %>
<div class="deck-header">
  <div class="left-header">
    デッキレシピ
  </div>
  <div class="right-header">
    保存  戻る
  </div>
</div>

<%# デッキ作成  cardを縦横2列にし「カード名：3枚」の形で保存%>
<div class="deckes">
<%# カテゴリの横にカード名を入力 %>
  <div class="deck">
    <div class="category">
      アルティメット  
    </div>
    <div class="cards">
      <div class="card">
        アルティメット・ジークフリード:  3枚
      </div>
      <div class="card">
        アルティメット・ジークフリーデン:  3枚
      </div>
    </div>
    <div class="cards">
      <div class="card">
        アルティメット・ジークヴルム・ノヴァ:  3枚
      </div>
      <div class="card">
        アルティメット・ジークヴルム・ノヴァ:  3枚
      </div>
    </div>
  </div>
  
  <div class="deck">
    <div class="category">
        スピリット
    </div>
    <div class="cards">
      <div class="card">
        ゴラドン:  3枚
      </div>
      <div class="card">
        ゴラドン:  3枚
      </div>
    </div>
    <div class="cards">
      <div class="card">
        ゴラドン:  3枚
      </div>
      <div class="card">
        ゴラドン:  3枚
      </div>
    </div>
  </div>

  <div class="deck">
    <div class="category">
        ブレイブ
    </div>
    <div class="cards">
      <div class="card">
        フェニック・キャノン:  3枚
      </div>
      <div class="card">
        フェニック・キャノン:  3枚
      </div>
    </div>
    <div class="cards">
      <div class="card">
        フェニック・キャノン:  3枚
      </div>
      <div class="card">
        フェニック・キャノン:  3枚
      </div>
    </div>
  </div>

  <div class="deck">
    <div class="category">
        マジック
    </div>
    <div class="cards">
      <div class="card">
        ダブルドロー:  3枚
      </div>
      <div class="card">
        ダブルドロー:  3枚
      </div>
    </div>
    <div class="cards">
      <div class="card">
        ダブルドロー:  3枚
      </div>
      <div class="card">
        ダブルドロー:  3枚
      </div>
    </div>
  </div>

  <div class="deck">
    <div class="category">
        ネクサス
    </div>
    <div class="cards">
      <div class="card">
        光の聖剣:  3枚
      </div>
      <div class="card">
        光の聖剣:  3枚
      </div>
    </div>
    <div class="cards">
      <div class="card">
        光の聖剣:  3枚
      </div>
      <div class="card">
        光の聖剣:  3枚
      </div>
    </div>
  </div>
</div>