<%# タイトルをクリックするとトップページに戻る %>
<div class="deck-header">
  <div class="left-header">
    デッキレシピ
  </div>
  <div class="right-header">
    保存  戻る
  </div>
</div>

<%# デッキ作成  css設定済%>
<div class="deckes">
  <div class="deck">
    <%# カテゴリの横にカード名を入力 %>
    <div class="card">
      アルティメット
    </div>
    <div class="card">
      スピリット
    </div>
    <div class="card">
      ブレイブ
    </div>
    <div class="card">
      マジック
    </div>
    <div class="card">
      ネクサス
    </div>
  </div>
</div>