<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>

<%# バトスピの色選択ページ 　css設定済%>
<div class="colors">
  <%# 色ごとのデッキ作成ページに遷移 %>
  <ul class="color">
    <%# battlespirits/redと出るのが理想 %>
    <li class="color-list"><a href="/battlespirits/red">赤</a></li> 
    <%#= link_to "赤", battlespiritse_reds_path(battlespiritse_id: @battlespirits.id) %>
  </ul>
  <%# 色ごとのデッキ作成ページに遷移 %>
  <div class="color">
    青
  </div>
  <%# 色ごとのデッキ作成ページに遷移 %>
  <div class="color">
    黄
  </div>
  <%# 色ごとのデッキ作成ページに遷移 %>
  <div class="color">
    緑
  </div>
  <%# 色ごとのデッキ作成ページに遷移 %>
  <div class="color">
    白
  </div>
  <%# 色ごとのデッキ作成ページに遷移 %>
  <div class="color">
    紫
  </div>
</div>