<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>

<%# バトスピの色選択ページ 　css設定済%>
<div class="colors">
  <%# 色ごとのデッキ作成ページに遷移(colorフォルダのred.html.erbへ) %>
  <div class="color">
    赤 <%# battlespirits/color/redと出るのが理想 %>
  </div>
  <%# 色ごとのデッキ作成ページに遷移 %>
  <div class="color">
    青
  </div>
  <%# 色ごとのデッキ作成ページに遷移 %>
  <div class="color">
    黄
  </div>
  <%# 色ごとのデッキ作成ページに遷移 %>
  <div class="color">
    緑
  </div>
  <%# 色ごとのデッキ作成ページに遷移 %>
  <div class="color">
    白
  </div>
  <%# 色ごとのデッキ作成ページに遷移 %>
  <div class="color">
    紫
  </div>
</div>