<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>


<%# デッキ閲覧  css設定済%>
<div class="deckes">
  <div class="deck">
    <%# カテゴリの横にカード名を表示 %>
    <div class="card">
      アルティメット
    </div>
    <div class="card">
      スピリット
    </div>
    <div class="card">
      ブレイブ
    </div>
    <div class="card">
      マジック
    </div>
    <div class="card">
      ネクサス
    </div>
  </div>
</div>