<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>

<%# 保存と削除ボタン %>

<%# デッキ作成 %>
<div class="mains">
  <div class="main">
    <%# クラス名変更予定 %>
    <div class="gureed">
      アルティメット
    </div>
    <div class="gureed">
      スピリット
    </div>
    <div class="gureed">
      ブレイブ
    </div>
    <div class="gureed">
      マジック
    </div>
    <div class="gureed">
      ネクサス
    </div>
    
  </div>
</div>