<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>

<%# カードゲーム選択 %>
<div class="main">
  <%# クラス名変更予定 %>
  <div class="game">
    <%# ヴァンガード 無印ページに遷移 %>
    Vanguard
  </div>
  <div class="game">
    <%# ヴァンガード ギフトページに遷移 %>
    Vanguard ギフト
  </div>
  <div class="game">
    <%# ヴァンガードDressページに遷移 %>
    Vanguard Dress
  </div>
  <div class="game">
    <%# ヴァンガードDivinesページに遷移 %>
    Vanguard Divines
</div>