/* 共通 */
.header{
  height: 20vh;
  width: 99vw;
  font-size: 30px;
  display: flex;
  align-items: center;
  background-color: grey;
}

.games{
  height: 70vh;
  width: 99vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}

.game{
  font-size: 80px;
  list-style: none;
}

.game a{
  text-decoration: none;
}

/* battlespiritsフォルダ */
.deck-header{
  height: 20vh;
  width: 98vw;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

.left-header{
  width: 50%;
}

.right-header{
  padding-right: 10px;
  list-style: none;
  /* display: flex; */
}

.right-header a{
  text-decoration: none;
}

.mains{
  width: 98vw;
  /* background-color: pink; */
}

.main{
  display: flex;
}

.colors{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: start;
}

.color{
  width: 100%;
  list-style: none;
  display: block;
}

.red{
  width: 100%;
  font-size: 50px;
  background-color: red;
}

.blue{
  width: 100%;
  font-size: 50px;
  background-color: blue;
}

.yellow{
  width: 100%;
  font-size: 50px;
  background-color: yellow;
}

.green{
  width: 100%;
  font-size: 50px;
  background-color: green;
}

.white{
  width: 100%;
  font-size: 50px;
  background-color: white;
}

.purple{
  width: 100%;
  font-size: 50px;
  background-color: purple;
}

.decks{
  width: 100%;
}

.deck_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
}

.deck{
  display: flex;
  font-size: 20px;
  /* background-color: red; */
}

.more_list{
  padding-right: 10px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}




/* battlespiritsフォルダのnewとshowとedit */



.deck-name{
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: blue; */
}

.color_selection{
  width: 40%;
  font-size: 40px;
  padding-top: 20px;
  /* background-color: yellow; */
}

.color-select{
  width: 100px;
  margin-bottom: 25px;
}

.category{
  width: 20%;
}

.card-category{
  width: 20%;
  padding-top: 30px;
}

.names{
  width: 80%;
  padding: 20px 140px;
  display: block;
  /* background-color: pink; */
}

.form-detail{
  width: 300px;
}

.count-detail{
  width: 60px;
}



.cards{
  width: 40%;
  display: block;
}

.card{
  width: 175%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  /* background-color: blue; */
}

.column{
  /* width: 120%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: green; */
}



.card-count{
  width: 100px;
  background-color: white;
}

/* redフォルダ */
.total{
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.post-btn-contents{
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 50px;
  height: 80px;
  width: 50%;
  padding: 0 20px;
  text-align: center;
}

.back-btn{
  border: 1px solid #aaa;
  text-decoration: none;
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 50px;
  height: 80px;
  width: 50%;
  padding: 0 20px;
  text-align: center;
}

.deck-blue-btn{
  border: 1px solid #aaa;
  text-decoration: none;
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 50px;
  height: 80px;
  width: 50%;
  padding: 0 20px;
  text-align: center;
}