<%# タイトルをクリックするとトップページに戻る %>
<div class="header">
  デッキレシピ
</div>

<%# 作成したデッキレシピを表示 %>
<div class="mains">
  <div class="main">
    <div class="gureed">
      グレード4
    </div>
    <div class="gureed">
      グレード3
    </div>
    <div class="gureed">
      グレード2
    </div>
    <div class="gureed">
      グレード1
    </div>
    <div class="gureed">
      グレード0
    </div>
  </div>
</div>